.newTaskPanel label {
}

.newTaskPanel input[type='text'] {
  width: 400px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 6px inset black, 0 0 6px black;
}

.newTaskPanel .form {
  font-size: 21px;
  color: white;
}

.newTaskPanel .datePicker {
  margin-right: 157px;
}
.newTaskPanel input[type='date'] {
  width: 230px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 6px inset black, 0 0 6px black;
}

.newTaskPanel .submitBtn {
  height: 50px;
  width: 100px;
  margin-top: 22px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(50, 55, 75);
  cursor: pointer;
  box-shadow: 0 0 20px black, 0 0 5px white;
  transition: 0.4s ease;
  border: none;
  border-radius: 25px;
}

.newTaskPanel .submitBtn:hover {
  box-shadow: none;
  transform: scale(1.25);
  box-shadow: 0 0 10px black, 0 0 10px white;
  border: none;
  animation: pulse 1s linear infinite;
  background-color: #1f1f1f;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px black, 0 0 13px white;
  }
  50% {
    box-shadow: 0 0 15px black, 0 0 3px white;
  }
}

/* Checkbox  */

div .title {
  margin-right: 65px;
}

.checkbox-label {
  display: inline;
  position: absolute;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  height: 24px;
  width: 150px;
  clear: both;
  right: 100px;
  top: 53.5px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #ffffff;
  margin-left: 100px;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #ffffff;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 7px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid #1f1f1f;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
