.newTaskPanel input[type='text'] {
  width: 400px;
  height: 30px;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 6px inset black, 0 0 6px black;
}
.newTaskPanel .form {
  font-size: 21px;
  color: white;
}
.newTaskPanel .datePicker {
  display: inline-block;
  margin-right: 30px;
}
.newTaskPanel input[type='date'] {
  width: 230px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 6px inset black, 0 0 6px black;
}
.newTaskPanel .checkBox {
  display: inline-block;
}
.newTaskPanel .checkBox * {
  cursor: pointer;
}
.newTaskPanel .submitBtn {
  height: 50px;
  width: 100px;
  margin-top: 16px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(50, 55, 75);
  cursor: pointer;
  box-shadow: 0 0 12px black, 0 0 5px white;
  transition: 0.4s ease;
  border: none;
  border-radius: 25px;
}
.newTaskPanel .submitBtn:hover {
  box-shadow: none;
  transform: scale(1.25);
  box-shadow: 0 0 10px black, 0 0 10px white;
  border: none;
  animation: pulse 1s linear infinite;
  background-color: #1f1f1f;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px black, 0 0 13px white;
  }
  50% {
    box-shadow: 0 0 15px black, 0 0 3px white;
  }
}
@media (orientation: landscape) and (min-width: 768px) and (max-width: 1023px) {
  .newTaskPanel label {
    font-size: 15px;
  }
  .newTaskPanel input[type='text'] {
    height: 24px;
  }
  .newTaskPanel input[type='date'] {
    height: 24px;
  }
  .newTaskPanel .submitBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    right: 13%;
    top: 1.4%;
    font-size: 16px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1279px) {
  .newTaskPanel label {
    font-size: 16px;
  }
  .newTaskPanel .submitBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    right: 11%;
    top: 3%;
    font-size: 16px;
  }
}
@media (orientation: landscape) and (min-width: 1280px) and (max-width: 1365px) {
  .newTaskPanel label {
    font-size: 16px;
  }
  .newTaskPanel .submitBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    right: 11%;
    top: 3%;
    font-size: 16px;
  }
}
@media (orientation: landscape) and (min-width: 1366px) and (max-width: 1599px) {
  .newTaskPanel label {
    font-size: 17px;
  }
  .newTaskPanel .submitBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    right: 11%;
    top: 3%;
    font-size: 17px;
  }
}
@media (orientation: landscape) and (min-width: 1600px) and (max-width: 1919px) {
  .newTaskPanel label {
    font-size: 18px;
  }
  .newTaskPanel .submitBtn {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    right: 11%;
    top: 3%;
    font-size: 17px;
  }
}
@media (orientation: landscape) and (min-width: 1920px) and (max-width: 2559px) {
}
