* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.app {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(230, 243, 217);
}
header {
  background-color: #fff;
  height: 5vh;
}

.appPanel {
  position: absolute;
  height: 850px;
  background-color: rgb(83, 89, 110);
  width: 700px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.addTask {
  height: 120px;
  margin-top: 20px;
}

.taskList {
  width: 630px;
  max-height: 650px;
  background-color: rgb(241, 215, 215);
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

footer {
  transform: translate(-50%, 90%);
  left: 50%;
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 40%;
  background-color: #1f1f1f;
  border-radius: 50%;
  transition: ease-out 0.7s;
}
.arrow {
  position: absolute;
  font-size: 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 5%;
  transition: ease-out 0.7s;
  color: white;
}

/* rgb(50, 55, 75) */

footer:hover {
  border-radius: 0%;
  bottom: 0;
  left: none;
  transform: translate(-50%, 0%);
  height: 100px;
  width: 100%;
}

footer:hover .arrow {
  transform: rotate(-180deg);
  left: 49%;
  opacity: 0;
}
