* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow: hidden;
}
.app {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgb(142, 147, 196);
  background: radial-gradient(
    circle,
    rgba(142, 147, 196, 1) 19%,
    rgba(0, 121, 153, 1) 50%,
    rgba(221, 198, 167, 1) 92%
  );
}

.appPanel,
footer,
.arrow,
.App-logo {
  position: absolute;
}

.appPanel {
  max-height: 850px;
  min-height: 300px;
  background-color: rgb(83, 89, 110);
  width: 700px;
  top: 15%;
  border-radius: 25px;
  box-shadow: 0 0 20px inset black, 0 0 50px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTask {
  height: 112px;
  margin-top: 25px;
}

.taskList {
  width: 630px;
  max-height: 650px;
  background-color: rgb(122, 127, 143);
  color: black;
  border-radius: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  margin-bottom: 13px;
}

footer {
  transform: translate(-50%, 88%);
  left: 50%;
  bottom: 0;
  height: 500px;
  width: 40%;
  background-color: #1f1f1f;
  border-radius: 50%;
  transition: ease-out 0.7s;
  box-shadow: 0 0 10px inset black, 0 0 10px black;
}
.arrow {
  font-size: 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 5%;
  transition: ease-out 0.7s;
  color: white;
}

footer:hover .arrow {
  transform: rotate(-180deg);
  left: 49%;
  opacity: 0;
}

.App-logo {
  height: 50px;
  animation: logo-spin infinite 20s linear;
  top: 1%;
  right: 0.6%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */

@media (orientation: landscape) and (min-width: 769px) and (max-width: 1023px) {
  .appPanel {
    max-height: 350px;
    min-height: 200px;
  }

  .addTask {
    height: 60px;
    margin-top: 10px;
    margin-right: 120px;
  }

  .taskList {
    background-color: red;
    max-height: 265px;
    margin-top: 15px;
  }

  footer {
    width: 100%;
    border-radius: 0;
    height: 50px;
    transform: translate(-50%, 0%);
    font-size: 16px;
  }
  .arrow {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1279px) {
  .appPanel {
    max-height: 500px;
  }
  .addTask {
    height: 80px;
    margin-right: 120px;
  }
  .taskList {
    max-height: 500px;
    margin-top: 5px;
  }
  footer {
    width: 100%;
    border-radius: 0;
    height: 50px;
    transform: translate(-50%, 0%);
    font-size: 16px;
  }
  .arrow {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1280px) and (max-width: 1365px) {
  .appPanel {
    max-height: 550px;
  }
  .addTask {
    height: 80px;
    margin-right: 120px;
  }
  .taskList {
    max-height: 550px;
    margin-top: 5px;
  }
  footer {
    width: 100%;
    border-radius: 0;
    height: 65px;
    transform: translate(-50%, 0%);
    font-size: 16px;
  }
  .arrow {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1366px) and (max-width: 1599px) {
  .appPanel {
    max-height: 650px;
  }
  .addTask {
    height: 80px;
    margin-right: 120px;
  }
  .taskList {
    max-height: 650px;
    margin-top: 10px;
  }
  footer {
    width: 100%;
    border-radius: 0;
    height: 65px;
    transform: translate(-50%, 0%);
    font-size: 16px;
  }
  .arrow {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1600px) and (max-width: 1919px) {
  .appPanel {
    max-height: 650px;
  }
  .addTask {
    height: 80px;
    margin-right: 120px;
  }
  .taskList {
    max-height: 520px;
    margin-top: 10px;
  }
  footer {
    width: 100%;
    border-radius: 0;
    height: 75px;
    transform: translate(-50%, 0%);
    font-size: 18px;
  }
  .arrow {
    display: none;
  }
}
@media (orientation: landscape) and (min-width: 1920px) and (max-width: 2559px) {
  .appPanel {
    max-height: 750px;
  }
  footer:hover {
    border-radius: 0%;
    bottom: 0;
    left: none;
    transform: translate(-50%, 0%);
    height: 100px;
    width: 100%;
  }
}

@media (orientation: landscape) and (min-width: 2560px) {
  footer:hover {
    border-radius: 0%;
    bottom: 0;
    left: none;
    transform: translate(-50%, 0%);
    height: 130px;
    width: 100%;
  }
}
