* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #1f1f1f;
}
header {
  background-color: #fff;
}

.appPanel {
  position: absolute;
  height: 60vh;
  background-color: rgba(105, 168, 142, 0.356);
  width: 700px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.addTask {
  height: 120px;
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: royalblue;
  width: 100%;
}

/* rgb(50, 55, 75) */
