.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer p {
  display: inline;
  color: white;
  text-align: center;
}
footer span.githubProfile {
  color: orange;
  cursor: pointer;
  transition: 0.6s;
}

footer span.githubProfile:hover {
  font-size: 23px;
}

footer .githubLogo {
  position: absolute;
  color: orange;
  right: 2%;
  font-size: 65px;
  cursor: pointer;
  transition: 0.4s;
}

footer .githubLogo:hover {
  transform: scale(1.2);
}
