.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  text-align: center;
}
footer span.githubProfile {
  color: orange;
  cursor: pointer;
  transition: 0.6s;
}

footer span.githubProfile:hover {
  color: red;
}

footer .githubLogo {
  position: absolute;
  color: red;
  right: 2%;
  font-size: 65px;
  cursor: pointer;
}
