.task {
  position: relative;
  margin: 5px auto;
  background-color: rgb(50, 55, 75);
  display: flex;
  justify-content: left;
  width: 99%;
  color: white;
  font-size: 19px;
}

.task p {
  margin-left: 100px;
}

.task button {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.7s;
  box-shadow: 0 0 10px black;
}

.task button:hover {
  height: 35px;
  width: 35px;
  font-size: 25px;
  box-shadow: 0 0 8px inset green, 0 0 10px black;
}

.taskDelete {
  font-size: 20px;
  color: red;
}

.task .taskDelete:hover {
  font-size: 25px;
  box-shadow: 0 0 5px inset red, 0 0 3px black;
}

button svg {
  margin-top: 3px;
  transition: 1.5s;
}
button svg:hover {
  transform: rotate(360deg);
}

.urgent strong {
  color: red;
  animation: urgent 2s linear infinite;
}

@keyframes urgent {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
}

@media (orientation: landscape) and (min-width: 768px) and (max-width: 1023px) {
  .task p {
    font-size: 15px;
    margin-left: 130px;
  }
  .task button {
    height: 25px;
    width: 25px;
  }
  .task button:hover {
    height: 25px;
    width: 25px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1279px) {
  .task p {
    font-size: 17px;
    margin-left: 130px;
  }
}
@media (orientation: landscape) and (min-width: 1280px) and (max-width: 1365px) {
  .task p {
    font-size: 17px;
    margin-left: 130px;
  }
}
@media (orientation: landscape) and (min-width: 1366px) and (max-width: 1599px) {
  .task p {
    font-size: 17px;
    margin-left: 130px;
  }
}

@media (orientation: landscape) and (min-width: 1600px) and (max-width: 1919px) {
  .task p {
    font-size: 17px;
    margin-left: 130px;
  }
}
@media (orientation: landscape) and (min-width: 1920px) and (max-width: 2559px) {
  .task p {
    font-size: 18px;
    margin-left: 130px;
  }
}
