.activeList {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0;
}

.completedList {
  border-top: 1px solid #000;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  padding-top: 5px;
}

div .taskList {
  box-shadow: 0 0 6px inset black, 0 0 15px black, 0 0 6px white;
  padding: 10px;
}

.funnyMessage {
  font-weight: 400;
}

.smiley::before {
  content: '( ͡° ͜ʖ ͡°)';
  animation: smiley 3s linear infinite;
}

@keyframes smiley {
  from {
  }
  to {
    content: '( ͡~ ͜ʖ ͡°)';
  }
}

@media (orientation: landscape) and (min-width: 768px) and (max-width: 1023px) {
  .activeList {
    max-height: 115px;
  }
  .completedList {
    max-height: 115px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1279px) {
  .activeList {
    max-height: 172px;
  }
  .completedList {
    max-height: 172px;
  }
}

@media (orientation: landscape) and (min-width: 1280px) and (max-width: 1365px) {
  .activeList {
    max-height: 200px;
  }
  .completedList {
    max-height: 200px;
  }
}
@media (orientation: landscape) and (min-width: 1366px) and (max-width: 1599px) {
  .activeList {
    max-height: 245px;
  }
  .completedList {
    max-height: 245px;
  }
}
@media (orientation: landscape) and (min-width: 1600px) and (max-width: 1919px) {
  .activeList {
    max-height: 250px;
  }
  .completedList {
    max-height: 250px;
  }
}
@media (orientation: landscape) and (min-width: 1920px) and (max-width: 2559px) {
  .activeList {
    max-height: 260px;
  }
  .completedList {
    max-height: 260px;
  }
}
