.activeList {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0;
}

.completedList {
  border-top: 1px solid #000;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  padding-top: 5px;
}

div .taskList {
  box-shadow: 0 0 6px inset black, 0 0 15px black, 0 0 6px white;
  padding: 10px;
}

.funnyMessage {
  font-weight: 400;
}

.smiley::before {
  content: '( ͡° ͜ʖ ͡°)';
  animation: smiley 3s linear infinite;
}

@keyframes smiley {
  from {
  }
  to {
    content: '( ͡~ ͜ʖ ͡°)';
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .activeList {
    max-height: 150px;
  }
  .completedList {
    max-height: 150px;
  }
}
