.activeList {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: -10px;
}

.completedList {
  border-top: 1px solid #000;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
}

.smiley::before {
  content: '( ͡° ͜ʖ ͡°)';
  animation: smiley 3s linear infinite;
}

@keyframes smiley {
  from {
  }
  to {
    content: '( ͡~ ͜ʖ ͡°)';
  }
}
